@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Virgil';
  src: url('/Virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f4f4f4;
  --foreground: #171717;
  --font-virgil: 'Virgil', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}