@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Virgil';
  src: url('/Virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-virgil: 'Virgil', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia, 'Times New Roman', Times, serif;
}